body {
    width: 100vw;
    height: 100vh;
background-color: #F5F4F0;
}

#vis {
    width: 100%;
    height: 100%;

    display: flex;
}

#radioTopTracksMap_worldMap {
    flex: 2;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

path:hover {
    fill: #193C3B;
    transition: all 1s ease;
}

#radioTopTracksMap_gradientBar {
    flex: 1;

    height: 80%;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    
    gap: 1em;
    margin-top: 5%;
  
}

.gradient-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(to right,
            #EDEAE2 0%,
            #EDEAE2 40%,
            transparent 100%);
    border-radius: 30px;

    /* width: 900px; Adjust as needed */
    margin: 0 auto;
}

.artist-image {
    width: 30px;
    /* Adjust as needed */
    height: 30px;
    /* Adjust as needed */
    border-radius: 50%;
    /* This will make it a circle */
    margin-right: 10px;
}

.artist-name {
    font-family: 'Inter';
    font-weight: 700;
    font-size: .5rem;
    /* Adjust as needed */
    color: black;
    /* Adjust as needed */
}