:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  color: #1c1c1c;
  font-family: "Inter";
  background-color: #f5f4f0;
  width: 100vw;
  height: 100vh;
}

#vis {
  width: 100%;
  height: 100%;
  display: flex;
}
