#vis {
    width: 100%;
    height: 100%;
    background-color: #f5f4f0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns with equal width */
    grid-template-rows: repeat(5, 1fr);
    /* Five rows with equal height */
    gap: 16px;
    /* Consistent gap between grid items */
    font-family: "Inter";
    font-weight: 700;
}

.box1 {
    border-top: 1px solid #1C1C1C;
    display: flex;
    align-items: flex-start;
    gap: 19px;
    padding-top: 24px;

}

.color-bar {
    display: inline-block;
    width: 16px;

    height: 16px;
    border-radius: 2px;
    background: #d9d9d9;
    margin-right: 4px
}

.rank {
   width: 32px;
    color: var(--text-secondary, #717171);
    text-align: center;

    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 30.8px */
}

figure {
    width: 93.75px;
    height: 93.75px;
    border-radius: 3px;
    background: url(https://t3.ftcdn.net/jpg/04/88/88/76/360_F_488887690_huCE6PEfsvXKfD20YuvIunASI9EuzPJX.jpg),
        lightgray 50% / cover no-repeat;
    filter: blur(7.5px);
}

.track-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--8pt-scale-8, 8px);
}

.header {
    color: var(--text-primary, #1c1c1c);
    text-align: right;

    /* Desktop/Body/Redacted/regular */
    font-family: Redacted Script;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 30px */
}

.subheader {
    display: flex;
    align-items: center;
    gap: var(--8pt-scale-8, 8px);
    color: var(--text-secondary, #717171);
    text-align: right;

    /* Desktop/Body/Redacted/sm */
    font-family: Redacted Script;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 24px */
}