:root {
    font-family: Inter, sans-serif;
    font-feature-settings: "liga" 1, "calt" 1;
    /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

#vis {
    display: flex;

    justify-content: center;

    gap: 10px;

    /* Sets space between flex items */
}

#calendarHeatmap {
    flex: 1;
    /* min-height: 200vh; */
    display: flex;

    justify-content: center;
    /* Sets space between flex items */
}

#calendarHeatmap svg {
    width: 100%;
    height: auto;
}

#rotatingPhotos {
    flex: 1;
    margin-top: 3%;
    position: relative;
}

.photo-frame {
    position: absolute;
    /* transform: rotate(-10deg); */
    /* Rotate the frame to the left */
    overflow: hidden;
    /* Ensure the contents don't spill out */
    border: 10px solid white;
    /* Give it a border to look like a frame */
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    /* Optional: Add some shadow for effect */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* In case the image is transparent */
    margin-bottom: 16px;
}

.photo-frame img {
    width: 100%;
    /* Make the image fill the frame */
    height: auto;
    /* Keep the image aspect ratio */
}

.photo-frame img:hover {
    border-radius: 2.2px;
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.8) 0%,
            rgba(255, 255, 255, 0.8) 100%),
        url(../../assets/cupid.png), lightgray 50% / cover no-repeat;

    filter: blur(6px);
}

.photo-hover {
    position: absolute;
    display: inline-flex;
    padding: 8.8px;
    align-items: center;
    justify-content: space-around;
    
    gap: 2.475px;
}

.photo-hover .track-name {

  
    color: var(--text-primary, #1c1c1c);
    text-align: center;

    /* Desktop/Label/XS/bold */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.photo-hover .artist-name {
   

    color: var(--text-primary, #1c1c1c);
    text-align: center;

    /* Desktop/Label/XS/regular */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photo-hover .date {


    color: var(--text-primary, #1c1c1c);
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.month-text-2-6 {
    font-size: 14px;
    transform: translateX(-1%);
}