:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  color: #1c1c1c;
  font-family: "Inter";
  background-color: #f5f4f0;

}

#background-chart-2-8 {
  position: fixed;
  top: 0px;
  transform: translate(0px, -1px);
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #f5f4f0;
}
#foreground-2-8 {
  padding-top: 50vh;
}
#foreground-2-8 .section-2-8 {
  margin: 0 auto;
  padding-bottom: 40vh;
}
.area {
  mix-blend-mode: multiply;
}
