


#viz_2_8 {
    font-family: Inter, sans-serif;
    font-feature-settings: "liga" 1, "calt" 1;
    display: flex;
    align-items: end;
    width: 90vw;
}

.vis-svg-container {
    flex-basis: 60%;
}

text {
    font-size: 16px;
}

.labels {
    font-size: 20px;
}

#artist_info_container {
    display: flex;
    padding: 16px;
    background: white;
    column-gap: 24px;
    align-items: stretch;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 8px rgb(0 0 0 / 8%);
    flex-basis: 40%;
}

.img_container {
    object-fit: cover;
    position: relative;
    height: 15vw;
    width: 15vw;
    overflow: hidden;
}

.artist_image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}

.text-container {
    font-family: Inter, sans-serif;
}

@media (max-width: 760px) {
    #viz_2_8 {
        flex-direction: column;
    }
    .vis-svg-container {
        width: 100%
    }
    #artist_info_container {
        width: 100%
    }
    .img_container {
        height: 35vw;
        width: 35vw;
    }
  }