body {
    font-family: Helvetica, Arial, Sans-Serif;
    background-color: #f5f4f0;
}

#vis {
    display: flex;

    justify-content: center;

    gap: 10px;
    /* min-height: 170vh; */
    height: auto;
    /* Sets space between flex items */
}

#calendarHeatmap {
    width: 18%;
    min-height: 200vh;
    display: flex;

    justify-content: center;
    /* Sets space between flex items */
}

#rotatingPhotos {
    margin-top: 3%;
}

.photo-frame {
    transform: rotate(-10deg);
    /* Rotate the frame to the left */
    overflow: hidden;
    /* Ensure the contents don't spill out */
    border: 10px solid white;
    /* Give it a border to look like a frame */
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    /* Optional: Add some shadow for effect */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* In case the image is transparent */
    margin-bottom: 16px;
}

.photo-frame img {
    width: 100%;
    /* Make the image fill the frame */
    height: auto;
    /* Keep the image aspect ratio */
}